@import '../../setup/scss/variables.scss';

.landing-page {
  background: url('../../assets/images/bg-images/bg-photo.jpg') right bottom;
  border-bottom: space(s) solid color(black);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  min-width: 100%;
  padding: 0;
  position: relative;
  width: 100%;

  &:before {
    background-blend-mode: overlay;
    background-image: linear-gradient(
      to bottom right,
      color(interactive),
      color(black)
    );
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
  }

  h1 {
    color: color(offsetgray);

    @include font-size($styled-h2);
  }

  &__container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
  }

  &__upsell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;

    @include grid-media($neat-grid-tablet) {
      flex-direction: row;
    }

    &:before,
    &--music-tile,
    &--unlimited-tile {
      margin-top: space(s);
    }

    &--music-tile,
    &--unlimited-tile,
    &--mobile-tile {
      display: flex;
      flex-direction: column;
      padding: space(s);
      width: 100%;

      @include grid-media($neat-grid-tablet) {
        padding: space(m) space(s) space(xl) space(s);
        width: 25%;
      }
    }

    &__title,
    &__description {
      color: color(gray);
    }

    &__number {
      color: color(lightgray);
      font-weight: $font-weight--bold;
    }

    &__number:after {
      background-color: color(swisspurple);
      border: 0;
      content: '';
      display: block;
      height: 1px;
      margin: space(s) 0;
      width: space(xl);
    }

    &__title {
      margin-top: space(m);

      @include font-size($h4);
    }

    &__description {

      @include font-size($small-size);
    }

    &--music-tile {
      background-color: rgba(color(midnightblue), 0.9);
      border-bottom: space(xxs) solid color(blue-accent-color);
    }

    &--unlimited-tile {
      background-color: rgba(color(darkblue), 0.9);
      border-bottom: space(xxs) solid color(accent-color);
    }

    &--mobile-tile {
      background-color: rgba(color(black), 0.9);
      border-bottom: space(xxs) solid color(interactive);
      padding-top: space(l) + 12px;
    }
  }
}
