@import '../../setup/scss/variables.scss';

.album-library-preview {
  background-color: color(white);
  box-shadow: $box-shadow--regular;
  display: flex;
  flex-direction: row;
  margin-bottom: space(s);
  padding: 0;

  @include grid-column(12, $neat-grid-mobile);

  @include grid-media($neat-grid-tablet) {
    box-shadow: $box-shadow--large;
    flex-direction: column;
    margin-bottom: space(m);

    @include grid-column(4);
  }

  @include grid-media($neat-grid-desktop) {

    @include grid-column(3);
  }

  &:hover {
    border-radius: space(xs);
    box-shadow: $box-shadow--hover;
  }

  &__album-image {
    height: auto;
    width: 80px;

    @include grid-media($neat-grid-tablet) {
      border-radius: 0;
      border-radius: space(s);
      flex-direction: row;
      height: auto;
      padding: space(xs);
      width: 100%;
    }
  }

  &__album-details {
    display: flex;
    flex-direction: column;
    padding: space(xs);

    @include grid-media($neat-grid-tablet) {
      padding: space(s);
    }

    &__album-title {
      margin-bottom: space(xs);

      @include font-size($h4);
    }

    &__artist-name {

      @include font-size($small-size);
    }

    &__total-songs {
      margin-top: space(xxs);

      @include font-size($xsmall-size);
    }
  }
}
