@import '../../setup/scss/variables.scss';

.main-header {
  background-color: rgba(color(offwhite), 0.95);
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  padding: space(xs);
  width: 100%;

  &__brand-logo {
    height: 40px;
    width: auto;
  }

  &__navigation {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    position: relative;
    width: 100%;
  }
}
