//colors
$colors: (
  white: #ffffff,
  offwhite: #f9f9f9,
  offsetgray: #efefef,
  lightgray: #edeef3,
  gray: #b2b2b7,
  darkgray: #5c6366,
  black: #111112,
  trueblack: #16222e,
  lighblack: #6a6a71,
  background-color: #f2f2f2,
  bluegray: #5b6c77,
  darkblue: #0f1a26,
  midnightblue: #16222e,
  swisspurple: #582e72,
  accent-color: #ff8722,
  shadow-color: #c5c0c0,
  blue-accent-color: #13ccca,
  interactive: #fd2872,
  hover: #13ccca,
  active: #820333,
  focus: #820333,
  error: #ef1617
);
